.footer {
  grid-row: 26/29;
  margin-top: 35rem;
  padding: 10rem 10rem;
  grid-column: full-start/full-end;
  height: 60rem;
  font-size: 12rem;
  text-align: center;
}
.lerp-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  line-height: 0.8;
}
.lerp-wrap span {
  display: inline-block;
  font-size: clamp(32px, 4vw, 6vw);
}
