.minh {
  grid-row: 7/10;
  padding: 10rem 3rem;
  grid-column: full-start/full-end;
  height: 90rem;
  display: grid;
  grid-template-columns: 60% 40%;

  &__photo {
    height: 70rem;
    width: 100%;
  }
  &__text {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 3rem;
  }
  &__img {
    background-color: $color-accent;
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.4);
    text-align: center;
  }
  &__skill {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__container {
    background-color: #f8636b;
    width: 80%;
    height: 40rem;
    padding: 2rem;
    z-index: -1;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.4);
  }
}
.skills {
  &--tg {
    background-color: blue;
    width: 38%;
  }
  &--js {
    background-color: black;
    width: 90%;
  }
}
.ourskill {
  grid-row: 5/6;
  padding: 5rem 3rem;
  grid-column: full-start/full-end;
  height: 7rem;
  text-align: center;
  font-size: 3rem;
}
.ourproject {
  grid-row: 14/15;
  padding: 5rem 3rem;
  grid-column: full-start/full-end;
  height: 7rem;
  text-align: center;
  font-size: 3rem;
}
