.project {
  grid-row: 16/19;
  padding: 0rem 10rem;
  margin-top: 10rem;
  grid-column: full-start/full-end;
  height: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  &--name {
    background-color: $color-accent;
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 10px;
    box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.4);
    text-align: center;
    img {
      height: 30rem;
    }
    p {
      color: $color-primary;
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  &--descript {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }
}
